.A{
  position:absolute;
  top:0px;
  left:200px;
  color:blue;
  font-family: sans-serif;
  font-size: 28px;
}
.B{
  
    position:absolute;
    top:90px;
    left:300px;
    color:orange;
    font-family: sans-serif;
    font-size: 28px;
  
}
C{
  position: absolute;
  top:0px;
  left:900px;
  
}
.E{
  position: absolute;
  top:180px;
  left:500px;
  font-family: sans-serif;
  font-size: 28px;
}
.F{
  
    position: absolute;
    top:250px;
    left:500px;
    font-family: sans-serif;
    font-size: 20px;
  
}
.G{
  
    position: absolute;
    top:250px;
    left:700px;
    font-family: sans-serif;
    font-size: 20px;
    
}
.L{
  position: absolute;
  top:400px;
  left:600px;
  border-radius: 50px;
  width:400px;
  font-family: sans-serif;
  font-size: 20px;

}
.K{
  position:absolute;
  top:500px;
  left:300px;
  color:red;
  font-family: sans-serif;
  font-size: 20px;
}


